.todo{
  display: flex;
  background-color: #bbbbbb;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.cell{
  flex: 0 0 25%;
  text-align: center;
  justify-content: center;
  padding: 15px 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}